/* CSS Reset */
body {
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    margin: 0px;
    padding: 0px;
    background-image: url('./bg.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.left {
    display: inline-block;
    /* border: 2px solid red; */
    position: absolute;
    left: 60px;
    top: 20px;
}

.left img {
    width: 136px;
    filter: invert(100%);
}

.left div {
    line-height: 19px;
    font-size: 20px;
    text-align: center;
}

.mid {
    display: block;
    width: 50%;
    margin: 29px auto;
    /* border: 2px solid green; */
}

.right {
    position: absolute;
    right: 34px;
    top: 43px;
    display: inline-block;
    /* border: 2px solid yellow; */
}

.navbar {
    display: inline-block;
}

.navbar li {
    display: inline-block;
    font-size: 20px;
}

.navbar li a {
    color: white;
    text-decoration: none;
    padding: 34px 23px;

}

.navbar li a:hover,
.navbar li a.active {
    text-decoration: underline;
    color: rgb(177, 223, 12);
    text-shadow: 0.7em 0.5em 1em rgba(197, 235, 6, 0.795);

}

.btn {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px 9px;
    background-color: black;
    color: white;
    padding: 4px 14px;
    border: 2px solid grey;
    border-radius: 10px;
    font-size: 15px;
    cursor: pointer;
}

.btn:hover {
    background-color: rgb(31, 30, 30);
}

.container {
    border: 2px solid white;
    margin: 100px 50px;
    padding: 60px;
    width: 50%;
    border-radius: 28px;
}
.container:hover, .container:active{
    color: rgb(201, 219, 33);
    background-color: rgba(128, 128, 128, 0.39);
    box-shadow: inset 0 -3em 3em rgba(8, 187, 231, 0.349),
    0 0 0 2px white,
    0.3em 0.3em 1em rgba(197, 235, 6, 0.562);
}
.form-group input {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    display: block;
    width: 508px;
    padding: 1px;
    border: 2px solid black;
    margin: 11px auto;
    font-size: 25px;
    border-radius: 8px;
}

.container h1 {
    text-align: center;
}

.container button {
    display: block;
    width: 74%;
    margin: 20px auto;
}